<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>DAOthon</title>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  {% include "rpg_style.html" %}

</head>

<body>
<!--  {% include "material_design.html" %}-->

    {% include "navbar.html" %}

  <container>

    <!-- <nav class="navbar-fixed">
      <ul>
        <a class="nav-item"><i class="nes-icon github is-large"></i></a>
        <li><a class="nav-item {% if active_tab == "Home" %}active{% endif %}" href="../../">DAOJAM</a></li>
        <li><a class="nav-item {% if active_tab == "Projects" %}active{% endif %} disabled" href="../../">Projects</a></li>
        <li><a class="nav-item {% if active_tab == "People" %}active{% endif %}" href="../../people/">People</a></li>
      </ul>
      <ul class="right">
        <li><a class="nav-item {% if active_tab == "profile" %}active{% endif %}" href="../../profile/">{{username}}</a></li>
      </ul>

    </nav> -->

    <!-- <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="../../" class="breadcrumb">[LOGO] DAOthon</a>
          <a href="../../" class="breadcrumb">Projects</a>
        </div>
      </div>
    </nav> -->

  </container>

  {% block content %}
  {% endblock %}

  <script>
    $(".nav .nav-item .nav-link").on("click", function () {
      $(".nav").find(".active").removeClass("active");
      $(this).addClass("active");
    });
  </script>
</body>

</html>