{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style>
        body {
            background: #F2F2F2;
        }
        .card {
            border-radius: 6px;
        }
        .card600 {
            max-width: 600px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .mid {
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock %}