{% block content %}
<div class="container">
    <div class="row">
        <div class="col s2 offset-s5">
            <a class="nav-item"><i class="nes-icon github is-large"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col s2 offset-s2">
            <a href="../../"><span class="nes-text is-success">Home</span></a>
        </div>
        <div class="col s2 offset-s1">
            <a href="../../"><span class="nes-text is-success">Projects</span></a>
        </div>
        <div class="col s2 offset-s1">
            <a href="../../"><span class="nes-text is-success">About</span></a>
        </div>
    </div>
</div>
{% endblock %}