{% block content %}
<nav>
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s8 offset-s2">
                <a href="#" class="brand-logo"><i class="nes-icon github is-medium"></i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="nav-link nes-text is-success" href="#"><span class="fa fa-home fa-lg"></span>
                                        Home</a></li>
                    <li><a class="nav-link" href="#"><span
                                            class="fa fa-info fa-lg"></span> About</a></li>
                    <li><a class="nav-link" href="#"><span class="fa fa-list fa-lg"></span> DAOs</a></li>
                </ul>
            </div>
        </div>
    </div>
  </nav>
{% endblock %}