{% extends "base.html" %}

{% block content %}
<style>
    .card-tall {
        height: 500px;
    }

    .card-mid {
        height: 200px;
    }

    .card-short {
        height: 120px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col s7">
            <div class="card card-short">
                {{p}}
                <div class="card-content">
                    <div class="col s4">
                        <img src="https://ssimg.frontenduse.top/{{p.avatar}}" height="50px"/>
                    </div>
                    <div class="col s4"><h5>{{p.nickname}}</h5></div>
                    <div class="col s4"><h5>{{p.username}}</h5></div>
                </div>
            </div>
        </div>
        <div class="col s5">
            <div class="card card-short">
                <div class="card-content">
                    <h3>3.14 UP (15.9%)</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <div class="card card-tall">
                <div class="card-content">
                    <h5>Skills in Project</h5>
                    <iframe height="400px" width="600px" src="http://127.0.0.1:3000/">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card card-tall">
                <div class="card-content">
                    <h5>Project Members</h5>
                    <ul class="collection">
                        {% for member in members %}
                        <a href="../../people/detail/?id={{proj_info.id}}&&uid={{member.uid}}">
                            <li class="collection-item">
                                {{ member.username }}
                                <img src="https://ssimg.frontenduse.top/{{member.avatar}}" height="25px"/>
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="row">
            <div class="col s12">
                <div class="card card-tall">
                    Historical Rating Graph
                    <iframe height=100% width="100%" src="http://127.0.0.1:3000/">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}