{% block content %}
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet">
<link href="" rel="stylesheet">
<style>
    /*body {*/
    /*    background-image: url("https://cdna.artstation.com/p/assets/images/images/006/295/134/large/sergiu-matei-stone-path-tile-pixel-art-rpg-top-view-indie-game-dev-matei-sergiu.jpg?1497472736");*/
    /*    background-repeat: repeat;*/
    /*}*/

    @font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/eurostile.woff') format('woff');
    }


    @font-face {
    font-family: 'EuroStyle Normal';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/EuroStyle Normal.woff') format('woff');
    }

    body {
        background-color: #212529;
    }

    html, body, pre, code, kbd, samp {
        font-family: "Eurostile", "Press Start 2P";
    }

    .height300 {
        height: 300px;
    }

    nav {
        background-color: #212529;
    }

</style>
{% endblock %}