{% block content %}
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet"/>
<style>
    /*body {*/
    /*    background-image: url("https://cdna.artstation.com/p/assets/images/images/006/295/134/large/sergiu-matei-stone-path-tile-pixel-art-rpg-top-view-indie-game-dev-matei-sergiu.jpg?1497472736");*/
    /*    background-repeat: repeat;*/
    /*}*/
    body {
        background-color: #212529;
    }

    html, body, pre, code, kbd, samp {
        font-family: "Press Start 2P";
    }

</style>
{% endblock %}