{% extends "base.html" %}

{% block content %}
<style>
    .project-tile {
        height: 200px;
    }
    .project-container {
        max-width: 600px;
    }
</style>
<br/>
<div class="row">
    {% for e in entries %}
    <div class="col s6 offset-s3">
        <div class="nes-container is-centered is-dark with-title project-container">
            <p class="title">{{e.name}}</p>
            <img class="nes-avatar" src="https://ssimg.frontenduse.top/{{e.avatar}}">
            <p>{{e.brief}}</p>
            <a href="projects/detail/?id={{e.id}}">
                <button class="nes-btn is-success">
                    {{e.name}}
                </button>
            </a>
        </div>
    </div>

    <br/><br/>
    {% endfor %}
</div>
</div>
{% endblock %}